html{
    background-image: url("article1backg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body{

}

h1{
    font-size: 250%;
    color: #fff349;
    text-align: center;
}

h2{
    font-size: 250%;
    color: #fff349;
    text-decoration: underline;
    clear: left;
    margin-bottom: 2%;
    margin-top: 2%;


}

a{
    font-size: 120%;
}

a:visited {
    color: white;
}

ol{
    color: #fff349;
}

ol p {
    font-size: 120%;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

ol img{
    width: 25%;
    display: block;
    margin-left: auto;
    float: left;
    margin-right: 2%;
    transition: width 3s;
    transition-timing-function: ease;
}

ol img:hover{
    width: 50%;
}



#info{
    float: right;
    margin-right: 2%;
    margin-bottom: 2%;
    font-size: 100%;
    color: white;
}

@media only screen and (min-width: 600px){
    body{
        min-width: 35rem;
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }
}


@media only screen and (max-width: 599px) {
    body {
        width: 100%;
    }
}

