* {
    margin: 0;
    padding: 0;
    color: aquamarine;
}
html{
    background-image: url("cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    font-size: 260%;
}

#mainimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

#table{
    font-size: 250%;
    font-family: "Lucida Console", Monaco, monospace ;
    text-align: center;
    vertical-align: middle;
    margin-top: 3%;
    margin-left: 20vw;
}

.tableimg{
    width: 50%;
}


a{
    text-decoration:none;
}

.tableinfo{
    font-size:50%;
}

a:visited {
    color: black;
}

div {

}

ul {
    list-style-type: none;
    width: 75%;
}

h3 {
    font-size: 90%;
    font-family: Helvetica, Verdana, sans-serif;
    cursor: pointer;
}

li img {
    float: top;
    width: 100%;

}


li img:hover{
    transform: rotateY(360deg);
    transition-duration: 3s;
}


li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
    margin-left: 2%;
}

li {
    overflow: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}


#info{
    float: right;
    margin-right: 2%;
    margin-bottom: 2%;
}

.email {
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    background-image: url("email.png");
    animation: play 1s infinite;
}

@keyframes play {
    from { background-position:    0; }
    to { background-position: -64px; }
}

@media only screen and (min-width: 600px){
    body{
        min-width: 35rem;
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }
}


@media only screen and (max-width: 599px) {
    body {
        width: 100%;
    }
}

input{
    color: black;

}

textarea{
    color: black;

}

footer{
    margin-bottom: 4%;
    margin-top: 4%;
}

#formIntro{
    font-size: 120%;
    margin-top: 1%;
    margin-bottom: 2%;
}

button{
    color : black;
    margin-right: 3%;
    font-size: 150%;
}

.info{
    margin-bottom: 3%;
    font-size: 110%;
}
