* {
    margin: 0;
    padding: 0;
    color: aquamarine;
}
html{
    background-image: url("cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    font-size: 260%;
}

#mainimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

#table{
    font-size: 250%;
    font-family: "Lucida Console", Monaco, monospace ;
    text-align: center;
    vertical-align: middle;
    margin-top: 3%;
    margin-left: 20vw;
}

.tableimg{
    width: 50%;
}


a{
    text-decoration:none;
}

.tableinfo{
    font-size:50%;
    text-align: justify;
    text-justify: inter-word;
}

a:visited {
    color: black;
}

ul {
    list-style-type: none;
    width: 75%;
}

h3 {
    font-size: 90%;
    font-family: Helvetica, Verdana, sans-serif;
    cursor: pointer;
}

li img {
    float: top;
    width: 100%;

}


li img:hover{
    transform: rotateY(360deg);
    transition-duration: 3s;
}


li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
    margin-left: 2%;
}

li {
    overflow: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}


#info{
    float: right;
    margin-right: 2%;
    margin-bottom: 2%;
}

.email {
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    background-image: url("email.png");
    animation: play 1s infinite;
}

@keyframes play {
    from { background-position:    0; }
    to { background-position: -64px; }
}

@media only screen and (min-width: 600px){
    body{
        min-width: 35rem;
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 599px) {
    body {
        width: 100%;
    }
    footer{
        display: flex;
        flex-flow: column;
    }
    #form{
        order:1;
    }
    #info{
        order:2;
    }
}

input{
    color: black;

}

textarea{
    color: black;

}

footer{
    margin-bottom: 4%;
    margin-top: 4%;
}

#formIntro {
    font-size: 120%;
    margin-top: 1%;
    margin-bottom: 2%;
}

button{
    color : black;
    margin-right: 3%;
    font-size: 150%;
}

.info{
    margin-bottom: 3%;
    font-size: 110%;
}

:required {
    border: 2px solid blue;
}

#form{
    margin-top: 5%;
    clear: left;
}

#info{
    margin-top: 5%;
    clear: left;
}

#opinionsContainer{
    margin-top: 2%;
    margin-bottom: 3%;
}

#opinions_headline{
    font-size: 150%;
    text-align: center;
}

#oneOpinion{
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 4%;
}

#visitorName{
    font-size: 150%;
    float: left;
    margin-left: 20%;
    /*text-align: left;*/
}

#visitorEmail{
    clear: left;
    float: left;
    margin-left: 15%;
}

#interests{
    clear: left;
    float: left;
    margin-left: 15%;
}

#reason{
    clear: left;
    float: left;
    margin-left: 15%;
}

#commment{
    clear: left;
}

#date{
    float: right;
    margin-right: 10%;
}